<div class="car-type-toggler">
  <input type="checkbox" id="car-type-toggler__checkbox" class="car-type-toggler__checkbox">
  <label class="car-type-toggler__label" for="car-type-toggler__checkbox"></label>
</div>
<div class="tabn">
  <div class="tecDoc-in-laxTecdoc">
    <section class="car-chooser-list-tecdoc" data-status="0">
      <div class="car-chooser-list-tecdoc__point" data-status="0">Bongo</div>
      <div class="car-chooser-list-tecdoc__point" data-status="0">Besta</div>
      <div class="car-chooser-list-tecdoc__point" data-status="0">Granbird</div>
      <div class="car-chooser-list-tecdoc__point" data-status="0">K2500</div>
      <div class="car-chooser-list-tecdoc__point" data-status="0">K2700</div>
      <div class="car-chooser-list-tecdoc__point" data-status="0">K3600</div>
      <div class="car-chooser-list-tecdoc__point" data-status="0">Pregio</div>
      <div class="car-chooser-list-tecdoc__point" data-status="0">Towner</div>
      <a href="/tecdoc2/184/models.html" class="car-chooser-list-tecdoc__point">Все</a>
    </section>
  </div>
  <section data-catalog-type="KIACV201803 no no" class="cloned-lax-list hidden">
    <select>
      <option value="KIACV201803 $*KwFUDHEfVAAAAACf_fmw$ no">Besta</option><option value="KIACV201803 $*KwFKEm8GTwAAAAAo5jeS$ no">Bongo</option><option value="KIACV201803 $*KwH2rtO99AAAAADohNyz$ no">Granbird</option><option value="KIACV201803 $*KwE2bhN7NQAAAAB-pSYb$ no">Pregio</option><option value="KIACV201803 $*KwEBWSRLBAAAAAC85SPf$ no">Towner</option><option value="KIA201803 $*KwHstMmn7AAAAABl0C9j$ no">Besta</option><option value="KIA201803 $*KwFDG2YPRgAAAADyIUB6$ no">Bongo</option><option value="KIA201803 $*KwG44J31uwAAAAA3iMp7$ no">Pregio</option><option value="KIA201803 $*KwFJEWwDTAAAAADca4Pa$ no">Towner</option>
    </select>
  </section>
</div>
<ul class="td-model" style="display: block;">
  <li data-start-year="2003" data-end-year="2019" data-name="BONGOC" class="model-item" style="display: none;">
    <div class="model-link-div" data-href="/tecdoc2/184/models/6670.html">
      <div class="car-base-list-image" style="overflow: hidden;">
        <img src="https://api.parts-soft.ru/system/car_base_model/5043/7_original_original.jpg" alt="7 original original">          </div>
      <div class="car-base-list-name">
        BONGO C БОРТОВОЙ ПЛАТФОРМОЙ/ХОДОВАЯ ЧАСТЬ          </div>
      <div class="car-base-list-date">
        2003.10              ...
        Выпускается          </div>
    </div>
    <div class="tecdoc-cars-btns-wrapper">
      <a class="tecdoc-cars-btns-wrapper__catalog-btn tecdoc-cars-btns-wrapper__catalog-btn--first" href="#">Оригиналы</a>
      <a class="tecdoc-cars-btns-wrapper__catalog-btn tecdoc-cars-btns-wrapper__catalog-btn--second" href="#">Аналоги</a>
    </div></li>
  <li data-start-year="2003" data-end-year="2019" data-name="K2500SD" class="model-item" style="display: none;">
    <div class="model-link-div" data-href="/tecdoc2/184/models/5129.html">
      <div class="car-base-list-image" style="overflow: hidden;">
        <img src="https://api.parts-soft.ru/system/car_base_model/1624/13_original_original.JPG" alt="13 original original">          </div>
      <div class="car-base-list-name">
        K2500 (SD)          </div>
      <div class="car-base-list-date">
        2003.01              ...
        Выпускается          </div>
    </div>
    <div class="tecdoc-cars-btns-wrapper">
      <a class="tecdoc-cars-btns-wrapper__catalog-btn tecdoc-cars-btns-wrapper__catalog-btn--first" href="#">Оригиналы</a>
      <a class="tecdoc-cars-btns-wrapper__catalog-btn tecdoc-cars-btns-wrapper__catalog-btn--second" href="#">Аналоги</a>
    </div></li>
  <li data-start-year="1999" data-end-year="2019" data-name="K2700SD" class="model-item" style="display: none;">
    <div class="model-link-div" data-href="/tecdoc2/184/models/5495.html">
      <div class="car-base-list-image" style="overflow: hidden;">
        <img src="https://api.parts-soft.ru/system/car_base_model/1625/14_original_original.JPG" alt="14 original original">          </div>
      <div class="car-base-list-name">
        K2700 (SD)          </div>
      <div class="car-base-list-date">
        1999.10              ...
        Выпускается          </div>
    </div>
    <div class="tecdoc-cars-btns-wrapper">
      <a class="tecdoc-cars-btns-wrapper__catalog-btn tecdoc-cars-btns-wrapper__catalog-btn--first" href="#">Оригиналы</a>
      <a class="tecdoc-cars-btns-wrapper__catalog-btn tecdoc-cars-btns-wrapper__catalog-btn--second" href="#">Аналоги</a>
    </div></li>
  <li data-start-year="1998" data-end-year="2002" data-name="TOWNER" class="model-item" style="display: none;">
    <div class="model-link-div" data-href="/tecdoc2/184/models/38292.html">
      <div class="car-base-list-image" style="overflow: hidden;">
        <img src="https://api.parts-soft.ru/system/car_base_model/7032/5_original_original.jpg" alt="5 original original">          </div>
      <div class="car-base-list-name">
        TOWNER автобус          </div>
      <div class="car-base-list-date">
        1998.07              ...
        2002.12          </div>
    </div>
    <div class="tecdoc-cars-btns-wrapper">
      <a class="tecdoc-cars-btns-wrapper__catalog-btn tecdoc-cars-btns-wrapper__catalog-btn--first" href="#">Оригиналы</a>
      <a class="tecdoc-cars-btns-wrapper__catalog-btn tecdoc-cars-btns-wrapper__catalog-btn--second" href="#">Аналоги</a>
    </div></li>
  <li data-start-year="1998" data-end-year="2002" data-name="TOWNER" class="model-item" style="display: none;">
    <div class="model-link-div" data-href="/tecdoc2/184/models/38293.html">
      <div class="car-base-list-image" style="overflow: hidden;">
        <img src="https://api.parts-soft.ru/system/car_base_model/7033/6_original_original.jpg" alt="6 original original">          </div>
      <div class="car-base-list-name">
        TOWNER Фургон          </div>
      <div class="car-base-list-date">
        1998.07              ...
        2002.12          </div>
    </div>
    <div class="tecdoc-cars-btns-wrapper">
      <a class="tecdoc-cars-btns-wrapper__catalog-btn tecdoc-cars-btns-wrapper__catalog-btn--first" href="#">Оригиналы</a>
      <a class="tecdoc-cars-btns-wrapper__catalog-btn tecdoc-cars-btns-wrapper__catalog-btn--second" href="#">Аналоги</a>
    </div></li>
  <li data-start-year="1997" data-end-year="2019" data-name="PREGIOTB" class="model-item" style="display: none;">
    <div class="model-link-div" data-href="/tecdoc2/184/models/4144.html">
      <div class="car-base-list-image" style="overflow: hidden;">
        <img src="https://api.parts-soft.ru/system/car_base_model/1633/40_original_original.JPG" alt="40 original original">          </div>
      <div class="car-base-list-name">
        PREGIO фургон (TB)          </div>
      <div class="car-base-list-date">
        1997.10              ...
        Выпускается          </div>
    </div>
    <div class="tecdoc-cars-btns-wrapper">
      <a class="tecdoc-cars-btns-wrapper__catalog-btn tecdoc-cars-btns-wrapper__catalog-btn--first" href="#">Оригиналы</a>
      <a class="tecdoc-cars-btns-wrapper__catalog-btn tecdoc-cars-btns-wrapper__catalog-btn--second" href="#">Аналоги</a>
    </div></li>
  <li data-start-year="1997" data-end-year="2003" data-name="K3600C_D5_" class="model-item" style="display: none;">
    <div class="model-link-div" data-href="/tecdoc2/184/models/38267.html">
      <div class="car-base-list-image" style="overflow: hidden;">
        <img src="https://api.parts-soft.ru/system/car_base_model/default.gif" alt="Default" style="margin-top: 0 !important">          </div>
      <div class="car-base-list-name">
        K3600 C бортовой платформой/ходовая часть (_D5_)          </div>
      <div class="car-base-list-date">
        1997.03              ...
        2003.10          </div>
    </div>
    <div class="tecdoc-cars-btns-wrapper">
      <a class="tecdoc-cars-btns-wrapper__catalog-btn tecdoc-cars-btns-wrapper__catalog-btn--first" href="#">Оригиналы</a>
      <a class="tecdoc-cars-btns-wrapper__catalog-btn tecdoc-cars-btns-wrapper__catalog-btn--second" href="#">Аналоги</a>
    </div></li>
  <li data-start-year="1997" data-end-year="2003" data-name="K3600" class="model-item" style="display: none;">
    <div class="model-link-div" data-href="/tecdoc2/184/models/7936.html">
      <div class="car-base-list-image" style="overflow: hidden;">
        <img src="https://api.parts-soft.ru/system/car_base_model/5280/10_original_original.jpg" alt="10 original original">          </div>
      <div class="car-base-list-name">
        K3600          </div>
      <div class="car-base-list-date">
        1997.03              ...
        2003.10          </div>
    </div>
    <div class="tecdoc-cars-btns-wrapper">
      <a class="tecdoc-cars-btns-wrapper__catalog-btn tecdoc-cars-btns-wrapper__catalog-btn--first" href="#">Оригиналы</a>
      <a class="tecdoc-cars-btns-wrapper__catalog-btn tecdoc-cars-btns-wrapper__catalog-btn--second" href="#">Аналоги</a>
    </div></li>
  <li data-start-year="1995" data-end-year="2004" data-name="PREGIO" class="model-item" style="display: none;">
    <div class="model-link-div" data-href="/tecdoc2/184/models/7630.html">
      <div class="car-base-list-image" style="overflow: hidden;">
        <img src="https://api.parts-soft.ru/system/car_base_model/1632/16_original_original.JPG" alt="16 original original">          </div>
      <div class="car-base-list-name">
        PREGIO автобус          </div>
      <div class="car-base-list-date">
        1995.08              ...
        2004.09          </div>
    </div>
    <div class="tecdoc-cars-btns-wrapper">
      <a class="tecdoc-cars-btns-wrapper__catalog-btn tecdoc-cars-btns-wrapper__catalog-btn--first" href="#">Оригиналы</a>
      <a class="tecdoc-cars-btns-wrapper__catalog-btn tecdoc-cars-btns-wrapper__catalog-btn--second" href="#">Аналоги</a>
    </div></li>
  <li data-start-year="1994" data-end-year="2019" data-name="GRANBIRD" class="model-item" style="display: none;">
    <div class="model-link-div" data-href="/tecdoc2/184/models/14366.html">
      <div class="car-base-list-image" style="overflow: hidden;">
        <img src="https://api.parts-soft.ru/system/car_base_model/5516/11_original_original.jpg" alt="11 original original">          </div>
      <div class="car-base-list-name">
        GRANBIRD          </div>
      <div class="car-base-list-date">
        1994.01              ...
        Выпускается          </div>
    </div>
    <div class="tecdoc-cars-btns-wrapper">
      <a class="tecdoc-cars-btns-wrapper__catalog-btn tecdoc-cars-btns-wrapper__catalog-btn--first" href="#">Оригиналы</a>
      <a class="tecdoc-cars-btns-wrapper__catalog-btn tecdoc-cars-btns-wrapper__catalog-btn--second" href="#">Аналоги</a>
    </div></li>
  <li data-start-year="1993" data-end-year="2003" data-name="BESTA" class="model-item" style="display: none;">
    <div class="model-link-div" data-href="/tecdoc2/184/models/4025.html">
      <div class="car-base-list-image" style="overflow: hidden;">
        <img src="https://api.parts-soft.ru/system/car_base_model/1603/30_original_original.JPG" alt="30 original original">          </div>
      <div class="car-base-list-name">
        BESTA фургон          </div>
      <div class="car-base-list-date">
        1993.07              ...
        2003.12          </div>
    </div>
    <div class="tecdoc-cars-btns-wrapper">
      <a class="tecdoc-cars-btns-wrapper__catalog-btn tecdoc-cars-btns-wrapper__catalog-btn--first" href="#">Оригиналы</a>
      <a class="tecdoc-cars-btns-wrapper__catalog-btn tecdoc-cars-btns-wrapper__catalog-btn--second" href="#">Аналоги</a>
    </div></li>
  <li data-start-year="1992" data-end-year="2003" data-name="BESTA" class="model-item" style="display: none;">
    <div class="model-link-div" data-href="/tecdoc2/184/models/10891.html">
      <div class="car-base-list-image" style="overflow: hidden;">
        <img src="https://api.parts-soft.ru/system/car_base_model/4894/12_original_original.jpg" alt="12 original original">          </div>
      <div class="car-base-list-name">
        BESTA АВТОБУС          </div>
      <div class="car-base-list-date">
        1992.07              ...
        2003.12          </div>
    </div>
    <div class="tecdoc-cars-btns-wrapper">
      <a class="tecdoc-cars-btns-wrapper__catalog-btn tecdoc-cars-btns-wrapper__catalog-btn--first" href="#">Оригиналы</a>
      <a class="tecdoc-cars-btns-wrapper__catalog-btn tecdoc-cars-btns-wrapper__catalog-btn--second" href="#">Аналоги</a>
    </div></li>
  <li data-start-year="1990" data-end-year="1999" data-name="BONGOC" class="model-item" style="display: none;">
    <div class="model-link-div" data-href="/tecdoc2/184/models/6672.html">
      <div class="car-base-list-image" style="overflow: hidden;">
        <img src="https://api.parts-soft.ru/system/car_base_model/5045/4_original_original.jpg" alt="4 original original">          </div>
      <div class="car-base-list-name">
        BONGO C БОРТОВОЙ ПЛАТФОРМОЙ/ХОДОВАЯ ЧАСТЬ          </div>
      <div class="car-base-list-date">
        1990.09              ...
        1999.09          </div>
    </div>
    <div class="tecdoc-cars-btns-wrapper">
      <a class="tecdoc-cars-btns-wrapper__catalog-btn tecdoc-cars-btns-wrapper__catalog-btn--first" href="#">Оригиналы</a>
      <a class="tecdoc-cars-btns-wrapper__catalog-btn tecdoc-cars-btns-wrapper__catalog-btn--second" href="#">Аналоги</a>
    </div></li>
</ul>
<div class="laximo-in-laxTecdoc" style="display: none">
  <div class="lx-b-lax-col">
    <div class="lx-b-lax-container lx-vin-search-module">
      <div class="lx-wht-vin">Поиск по VIN</div>

      <div class="lx-b-search-container"><label>Поиск по VIN номеру</label>

        <div class="lx-search-wrap-inp">
          <form accept-charset="UTF-8" action="/laximo/vehicle_by_vin_frame" method="get"><input name="utf8" type="hidden" value="✓"> <input class="lx-search-inp" id="vin" name="vin" type="text"> <input class="lx-search-send" name="commit" type="submit" value="НАЙТИ">&nbsp;</form>
        </div>

        <div class="lx-search-examp lx-search-examp-vin">например: <a href="#">98PTT47MSEB100567</a></div>
      </div>

      <div class="lx-sel-or"><em>или</em></div>

      <div class="lx-b-sel-tm">&nbsp;</div>

      <div id="js-laximo-wizard-options"><div class="lx-b-sel-tm">
        <label>Семейство</label>
        <div class="lx-wrap-ss lx-tt-u">
          <select class="js-laximo-wizard-select">
            <option value=""></option>
          </select>
        </div>
      </div>
      </div>

      <div id="js-laximo-chassis-options"></div>
    </div>
    <div class="lx-b-lax-col-close">X</div>
  </div>
</div>
<script src="/scripts/catalog-seo-script.js" defer></script>
<link rel="stylesheet"
      href="/css/catalog-seo-style.css">