.delivery-pickup {
  padding: 35px 25px 10px 25px;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  background-color: #fff;
  max-height: 595px;
  //height: 595px;
  overflow: hidden;
}
.delivery-pickup__points-header {
  font-weight: 700;
  margin-bottom: 15px;
}
.delivery-pickup__input {
  margin-bottom: 15px;
  min-height: 40px;
  padding-left: 10px;
}
.delivery-pickup__points-list {
  display: flex;
  flex-direction: column;
  width: 500px;
  overflow: auto;
  padding-right: 10px;
  max-height: 420px;
  margin-bottom: 20px;
}
.delivery-pickup__point {
  //padding: 10px;
  //border: 1px solid;
  //margin: 5px 0;
  //line-height: 20px;
  
  color: #616161;
  margin-left: 15px;
}
.delivery-pickup__point:hover, .delivery-pickup__point--active {
  //background-color: #ad1318;
  //color: #fff;
  //cursor: pointer;
  //position: relative;
  
  color: #ad1318;
  cursor: pointer;
  text-decoration: underline;
}
.delivery-pickup__continue-btn {
  background-color: #ad1318;
  color: #fff;
  border: none;
  height: 25px;
  border-radius: 2px;
  width: 150px;

  &:hover {
    cursor: pointer;
  }
}

@media (max-width: 550px) {
  .delivery-pickup__points-list {
    width: 400px;
  }
}
@media (max-width: 420px) {
  .delivery-pickup__points-list {
    width: auto;
  }
  .delivery-pickup {
    padding: 0;
    margin-top: 15px;
    min-width: 280px;
  }
}
@media (max-width: 320px) {
  .delivery-pickup__points-list {
    width: 290px;
  }
}