.delivery-pickup {
  padding: 35px 25px 10px 25px;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  background-color: #fff;
  max-height: 595px;
  height: 595px;
  overflow: hidden;
}
.delivery-pickup__input {
  margin-bottom: 15px;
  min-height: 40px;
  padding-left: 10px;
}
.delivery-pickup__points-list {
  display: flex;
  flex-direction: column;
  width: 500px;
  overflow: auto;
  padding-right: 10px;
  max-height: 420px;
}
.delivery-pickup__point {
  padding: 10px;
  border: 1px solid;
  margin: 5px 0;
  line-height: 20px;
}
.delivery-pickup__point:hover, .delivery-pickup__point--active {
  background-color: #ad1318;
  color: #fff;
  cursor: pointer;
  position: relative;
}
.delivery-pickup__point--active::after {
  content: '';
  position: absolute;
  width: 26px;
  height: 30px;
  right: 20px;
  top: 4px;
  background: url(/images/another-images/icons/check-mark-icon.png) no-repeat;
}

@media (max-width: 550px) {
  .delivery-pickup__points-list {
    width: 400px;
  }
}
@media (max-width: 420px) {
  .delivery-pickup__points-list {
    width: 320px;
  }
}
@media (max-width: 320px) {
  .delivery-pickup__points-list {
    width: 290px;
  }
}