<div class="car-type-chooser-preloader">
  <div class="car-type-chooser-modal-window">
    <header class="car-type-chooser-modal-window__header">
      Выберите тип вашего авто
    </header>
    <div class="car-type-chooser-modal-window__type-choose-wrapper">
      <a href="?type=truck" class="car-type-chooser-modal-window__checkbox car-type-chooser-modal-window__truck-checkbox">
        <img src="/images/another-images/car-type-chooser-modal-window/truck-icon-complete.png" alt="Грузовая">
        <p class="car-type-chooser-modal-window__checkbox-description">Грузовой</p>
      </a>
      <a href="?type=car" class="car-type-chooser-modal-window__checkbox car-type-chooser-modal-window__car-checkbox">
        <img src="/images/another-images/car-type-chooser-modal-window/car-icon-complete.png" alt="Легковая">
        <p class="car-type-chooser-modal-window__checkbox-description">Легковой</p>
      </a>
    </div>
  </div>
</div>
<link rel="stylesheet"
      href="/css/car-type-chooser-modal-window.css">