{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "ie": "11"
        }
      }
    ],
    [
      "minify"
    ],
    ["@babel/preset-typescript"]
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"]
}