{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "58"
        }
      }
    ],
    [
      "minify"
    ]
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"]
}