.b-subpd {
  margin: 28px 0 18px;
  position: relative
}

.b-subpd-toggler {
  background: 0 0;
  position: relative
}

.b-subpd-toggler::before {
  content: '';
  position: absolute;
  top: -12px;
  left: 0;
  width: 60px;
  height: 39px;
  background-image: url(/system/free_files/75/td.png?1547811924);
  background-repeat: no-repeat;
  background-size: contain
}

.b-subpd::after, .b-subpd::before {
  content: '';
  position: absolute;
  bottom: -18px;
  left: 50%;
  width: 100%;
  height: 2px;
  background-color: #ad1318;
  transform: translateX(-50%);
}

.b-subpd::before {
  bottom: unset;
  top: -18px
}