.mobile-menu {
  display: none;
}

@media (max-width: 768px) {
  .mobile-menu {
    display: flex;
    padding-left: 40px;
    height: 33px;
    background: url(/images/design/mobile-menu/catalog-icon.png) no-repeat;
  }
  .mobile-menu__link {
    border: none;
    background: transparent;
    color: #1c4254;
    font-size: 16px;
    font-weight: 700;
    font-family: MyriadPro, serif;
  }
  .mobile-menu:hover {
    //background-position: 10px -26px;
    cursor: pointer;
  }
}

@media (max-width: 500px) {
  .mobile-menu {
    margin-left: 15px;
  }
  .mobile-menu__link {
    font-size: 0;
  }
}