//используется для одностраничников
.brake-disks-by-year .search{
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.2px;
  padding-bottom: 14px;
}
.brake-disks-by-year .search span{
  font-size: 16px;
  color: red;
  text-decoration: underline;
}
.brake-disks-by-year .option-brake-disks{
  display: flex;
  padding-left: 10px;
  margin: 0 -10px;
  margin-top: 10px;
  flex-wrap: wrap;
}
.brake-disks-by-year .help-search-brake{
  margin-top: 27px;
  font-size: 17px;
  padding-left: 10px;
}
.option-brake-disks_variable{
  background: #1c4254;
  padding: 7px 9px;
  color: white;
  font-size: 16px;

}
.option-brake-disks .option-brake-disks__bgr1{
  background: rgb(204, 204, 204);
  padding: 9px 17px;
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 0.3px;
  color: #0C0C0C;
}
.option-brake-disks .option-brake-disks__bgr2{
  background: #1c4254;
  padding: 9px 17px;
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 0.3px;
  color: white;
}
.option-brake-disks .option-brake-disks__item{
  max-width: 275px;
  flex: 1 1 20vw;
  margin: 0 10px;
}
.option-brake-disks .option-brake-disks__item img {
  max-height: 200px;
  width: auto;
  margin-top: 5px;
}

.option-brake-disks .option-brake-disks__name{
  font-size: 15px;
  font-weight: bold;
  padding-top: 10px;
}
.option-brake-disks .option-brake-disks__number{
  margin-top: 4px;
  font-size: 14px;
  padding-bottom: 50px;
}
.option-brake-disks .banner img{
  position: absolute;
  top: 50px;
}

@media only screen and (max-width: 1200px)  {
  .option-brake-disks .banner img{
    display: none;
  }

}
.option-brake-disks .option-brake-disks__item a{
  text-decoration: none;
}