.header-wrapper {
  @include flex(space-between, center);
}
header-wrapper__user-login {
  margin-left: 15px;
}
.header-wrapper__phone {
  margin: 0 30px;
  position: relative
}
.header-wrapper__phone::before, .header-wrapper__phone::after {
  position: absolute;
  content: '';
  height: 20px;
  width: 1px;
  background-color: #fff;
}
.header-wrapper__phone::before {
  left: -15px
}
.header-wrapper__phone::after {
  right: -15px
}

@media (max-width: 1100px) {
  .header-wrapper__phone {
    display: none;
  }
}

@media (max-width: 768px) {
  .header-wrapper {
    flex-direction: column;
    flex-basis: 100%;
    justify-content: center;
  }

  .header-wrapper__user-login {
    flex-basis: 100%;
    flex-grow: 1;
    order: -1;
  }
}