.main-categories {
  width: 100%;

  @include flex(false, false, false, wrap);
}
.main-categories__item {
  @include flex(flex-end, flex-start);
  flex-basis: 22.5%;
  height: 80px;
  padding: 5px 10px 0 10%;
  margin: 1%;

  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 10px -5px #000;
  color: inherit;
  text-decoration: none;
}
.main-categories__item:hover {
  background-color: #ad1318;
}
.main-categories__item:hover .main-categories__description {
  color: #fff;
}
.main-categories__description {
  color: #000;
  font-size: 16px;
}
.main-categories__item--oil {
  background: url('/images/design/main-categories/oil-bg.png') no-repeat;
}
.main-categories__item--kovriki {
  background: url('/images/design/main-categories/kover-bg.png') no-repeat;
}
.main-categories__item--lamp {
  background: url('/images/design/main-categories/car-light-bg.png') no-repeat;
}
.main-categories__item--dvorniki {
  background: url('/images/design/main-categories/dvorniki-bg.png') no-repeat;
}
.main-categories__item--battery {
  background: url('/images/design/main-categories/battery-bg.png') no-repeat;
}
.main-categories__item--all {
  background: url('/images/design/main-categories/all-bg.png') no-repeat 5px 0;
}

@media (max-width: 800px) {
  .main-categories__item {
    flex-basis: 31.2%;
  }
}
@media (max-width: 750px) {
  .main-categories__item {
    flex-basis: 47.2%;
  }
}
@media (max-width: 550px) {
  .main-categories__item {
    background-position: center;
    flex-basis: 100%;
  }
  .main-categories__description {
    display: none;
  }
  .main-categories__item--all {
    justify-content: center;
    align-items: center;
    padding: 0;
    background: none;
  }
  .main-categories__description--all {
    display: block;
  }
}