* {
  box-sizing: border-box;
  font-family: MyriadPro, sans-serif
}
.hidden {
  display: none !important
}
.text-breaker {
  display: block
}
:focus {
  outline: 5px auto #ff0
}
body, html {
  height: auto
}