@font-face {
  font-family: MyriadProCond;
  src: url(/fonts/MyriadPro-Cond.woff2);
  src: url(/fonts/MyriadPro-Cond.woff);

  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: MyriadPro;
  src: url(/fonts/MyriadPro.woff2);
  src: url(/fonts/MyriadPro.woff);

  font-weight: 400;
  font-style: normal;
  font-display: swap;
}