@media (max-width: 2560px) {
  .b-msd-logo::after {
    left: 193px
  }
}

@media (max-width: 1200px) {
  .b-container {
    padding: 0 15px
  }
}

@media (max-width: 1182px) {
  .b-nep-tbres .b-nep-msth-21 {
    font-size: 0;
  }
  .b-nep-tbres .b-nep-mstd-6, .b-nep-tbres .b-nep-msth-3 {
    display: none;
  }
}

@media (max-width: 1100px) {
  .b-item-vin {
    display: none;
  }
  .b-item-vin::after, .b-item-vin::before {
    display: none;
  }
}

@media (max-width: 1024px) {
  .b-tsd-nav-list {
    display: flex
  }
}

@media (max-width: 1021px) {
  .big1-app-news-img {
    max-width: 90vw !important
  }

  .b-mslider img {
    height: auto
  }

  .b-mslider .slick-list .slick-track .b-slide {
    height: auto
  }
}

@media (max-width: 1000px) {
  .b-yel-cat-list {
    width: 250%
  }

  #main-slider-car {
    width: 375%
  }
}

@media (max-width: 980px) {
  ////.b-tsd-cities {
  ////  padding-left: 25px
  ////}
}

@media (max-width: 960px) {
  .b-container {
    padding: 0 15px
  }

  .b-content {
    padding-top: 0
  }
}

@media (max-width: 920px) {
  div .promo-img {
    width: 100% !important
  }

  .b-yel-cat-modified {
    width: 100%
  }

  .promo-app {
    align-items: center;
    max-height: unset;
  }

  .promo-app__left-part {
    max-width: 100%;
  }

  .promo-app__right-part {
    max-width: 100%;
    padding: 15px
  }
  .b-nep-tbres .b-nep-tbres-tr-original {
    border: 1px solid;
    padding: 15px;
    margin: 10px 0;
  }
  .b-nep-tbres .b-nep-mstd-delivery {
    max-width: unset;
  }
}

@media (max-width: 900px) {
  .articles-list-itemLink, .news-list-itemLink {
    width: 30%
  }

  .b-mp-form .b-list {
    justify-content: center
  }

  .b-mp-form .b-list .b-item {
    width: 33%
  }

  .b-mp-form .b-list .b-item:last-of-type {
    margin: 10px 0
  }

  .b-userbox::before {
    display: none;
  }
  .b-tsd-city-link {
    width: 19px;
    height: 100%;
    font-size: 0;
    padding: 0;
    background-position: center;
  }
}

@media (max-width: 887px) {
  .b-item-vin::after, .b-item-vin::before {
    display: none
  }
}

@media (max-width: 880px) {
  .b-foot-nav-list .b-head {
    font-size: 18px
  }

  .b-copyright, .b-foot-nav-list a {
    font-size: 16px
  }
}

@media (max-width: 860px) {
  .laximo__bgImage {
    display: none
  }
  .ctf--b-product-list .ctf--b-pic {
    max-width: unset;
    width: auto;
  }
}

@media (max-width: 854px) {
  .b-bsd-search .b-list .b-item-vin {
    width: 24%
  }
}

@media (max-width: 846px) {
  .b-item-vin::after, .b-item-vin::before {
    display: none
  }
}

@media (max-width: 834px) {
  .tecDoc-fast-btn {
    padding: 7px 0
  }
}

@media (max-width: 820px) {
  .b-nep-prodch-container {
    align-items: center;
    flex-direction: column
  }

  .b-msd-logo::after {
    bottom: 8px;
    left: 191px
  }

  .b-list-subpd {
    display: none
  }

  .b-list-subpd li:first-of-type {
    display: none
  }
  .dcr-wrap {
    margin-top: 20px;
    width: 50%
  }
  .b-nep-col-tchars {
    margin: 20px 0;
  }
  .delivery-warning {
    margin-bottom: 15px;
  }
}

@media (max-width: 809px) {
  .b-bsd-search .b-list .b-item-vin {
    margin: 0
  }
}

@media (max-width: 800px) {
  .b-bsd-search .b-list .b-item-vin {
    margin-left: 10px;
    width: auto
  }

  .b-tsd-tb {
    align-items: center;
    height: 40px;
    justify-content: space-between
  }

  //.b-tsd-city-link {
  //  background: 0 0
  //}

  //.b-tsd-cities {
  //  padding: 0;
  //  display: inline-block
  //}

  //.b-userbox::before {
  //  background-size: 20px;
  //  left: -30px;
  //  top: 2px;
  //}

  .b-item-vin::after, .b-item-vin::before {
    display: none
  }

  .b-yel-cat-list {
    width: 350%
  }

  #main-slider-car {
    width: 525%
  }
}

@media (min-width: 769px) {
  .b-msd-shedule {
    top: -5px;
  }
}

@media (max-width: 768px) {
  .b-msd-contact {
    display: none;
  }

  .b-c-left {
    padding: 0
  }

  .b-msd-logo::after {
    left: 207px
  }

  .row .v2-inner-catalog-brand {
    width: 50%
  }

  .b-c-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
  }

  .articles-list-item__description p, .main-news__description p, .news-list-item__description p {
    font-size: 13px
  }

  .b-top-side {
    background: transparent;
    height: 0;
  }

  .b-tsd-tb {
    display: none;
    height: auto;
    flex-direction: column;
    position: absolute;
    right: -15px;
    z-index: 15;
    max-width: 320px;
    background-color: #000;
    padding: 35px 10px;
  }

  .b-tsd-nav {
    display: block;
    position: static;
    margin: 0;
    background: none;
  }

  .b-tsd-nav-list {
    flex-direction: column;
  }

  .b-tsd-nav-list>li ul {
    background: none;
    margin-left: 35px;
  }

  .b-msd-contact, .b-msd-logo::after, .b-msd-logo::before {
    display: none;
  }

  .b-tsd-tb__close {
    display: block;
  }

  .b-tsd-nav-list>li ul {
    position: static;
  }
}

@media (max-width: 720px) {
  //.b-tsd-cities {
  //  padding-left: 35px
  //}

  .b-yel-cat-list li:last-of-type {
    border-bottom: none
  }
}

@media (max-width: 700px) {
  .articles-list-itemLink, .main-news__item, .news-list-itemLink {
    width: 48%
  }

  .logo-table tbody tr td {
    width: 50%
  }
}

@media (max-width: 673px) {
  .b-bsd-search .b-list .b-item-vin {
    display: none;
  }

  .b-bsd-search .b-list .b-item-vin {
    width: 50%;
    margin: 10px 10px 10px 0
  }

  .b-bsd-search .b-input, .b-item-vin .b-btn-vin {
    width: 100%
  }
}

@media (max-width: 600px) {
  .lx-sbm-list li {
    width: 47%
  }

  .b-mp-form .b-list .b-item {
    width: 50%
  }

  .tecDoc-fast-btn {
    padding: 15px 0
  }

  .b-yel-cat-list {
    width: 500%
  }

  #main-slider-car {
    width: 750%
  }
}

@media (max-width: 560px) {
  .text .no-list-style li {
    display: block
  }

  //.b-tsd-city-link {
  //  background: url(/images/design/locationMarker.png) no-repeat;
  //  width: 2px;
  //  overflow: hidden
  //}

  //.b-tsd-cities {
  //  margin-left: 10vw;
  //  padding: 0
  //}

  .b-tsd-nav-list {
    display: block
  }

  .b-link-perscab {
    max-width: 25vw
  }
}

@media (max-width: 580px) {
  .dcr-wrap {
    width: 100%
  }
}

@media (max-width: 550px) {
  .b-yel-cat-list li:last-of-type {
    border-bottom: 1px solid #fff
  }
  .manager tbody tr td {
    width: 50%;
  }
  .b-list .b-item .b-btn-send::after {
    background: url(/images/design/searchButton--gray.png) no-repeat;
    background-size: contain;
  }
  .b-list .b-item .b-btn-send:hover::after {
    background: url(/images/design/searchButton--red.png) no-repeat;
    background-size: contain;
  }
  .b-bsd-search .b-btn-send, .b-bsd-search .b-btn-send:hover {
    font-size: 0;
    background-color: transparent;
    padding: 0;
  }
  .b-foot-nav-td {
    display: none;
  }
  .b-foot-tb {
    min-height: 380px;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .b-msd-shedule {
    margin-left: auto;
  }

  #jcont {
    left: 30px !important
  }

  .lx-sbm-list li a img {
    width: 85%
  }

  .logo-table tbody tr td {
    width: 100%
  }

  .b-basket-link {
    background: url(/images/design/miniBasketLogoNew.png) no-repeat;
    background-size: cover;
    width: 36px;
    height: 33px;
    padding: 0;
  }

  .b-basket-link .b-label, .b-basket-link .b-bascon, .b-basket-link i {
    display: none;
  }
}

@media (max-width: 480px) {
  .articles-list-itemLink, .news-list-itemLink {
    width: 82%
  }

  .b-mp-form .b-list .b-item {
    width: 100%
  }

  .btn-reg {
    margin-left: 0
  }

  .wrap_3s _show_3w {
    margin: 0 10px 50px 0
  }
}
@media (min-width: 425px) and (max-width: 456px) {
  .b-msd-logo::after {
    left: 191px
  }
}

@media (max-width: 450px) {
  .b-yel-cat-list {
    width: 1000%
  }

  #main-slider-car {
    width: 1500%
  }
  .promo-app__right-part--links {
    order: -2;
  }
  .promo-app__right-part {
    order: -1;
  }
}

@media (max-width: 425px) {
  .b-msd-logo::after, .b-msd-logo::before {
    display: none
  }

  //.b-logo-link {
  //  background: url(/images/design/mobileLogo.png) no-repeat;
  //  width: 72px;
  //  height: 77px
  //}
}

@media (max-width: 420px) {
  .b-bsd-search .b-list .b-item-vin {
    padding: 0 6px;
    position: static
  }

  .b-list-subpd li {
    width: 50%
  }

  .lx-sbm-list li {
    width: 80%;
    margin: 5px auto
  }
}

@media (max-width: 415px) {
  .b-bsd-search .b-list .b-item-vin {
    padding-left: 0
  }
}

@media (max-width: 410px) {
  .b-bsd-search .b-list .b-item-vin {
    padding-left: 0
  }
}

@media (max-width: 380px) {
  .b-prod-carousel .slick-dots li {
    margin-bottom: 10px
  }

  .b-tsd-nav {
    width: auto
  }
}

@media (max-width: 340px) {
  .b-bsd-search .b-list .b-item-vin {
    margin-left: 10px;
    width: 66vw
  }

  .b-bsd-search .b-list .b-item-vin span {
    display: none
  }
}

@media (max-width: 320px) {
  .b-basket-link .b-bascon, .b-basket-link .b-label {
    font-size: 13px
  }
}

@media (max-width: 700px) {
  .fast-menu-tabs__li-first-level {
    background-image: url(/images/design/header-fast-menu-icons/search1.png);
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
    min-height: 50px;
  }

  .fast-menu-tabs__li-first-level > p, .fast-menu-tabs__li-first-level > a {
    font-size: 0;
  }

  .fast-menu-tabs__li-first-level:nth-of-type(2) {
    background-image: url(/images/design/header-fast-menu-icons/garage1.png);
  }

  .fast-menu-tabs__li-first-level:nth-of-type(3) {
    background-image: url(/images/design/header-fast-menu-icons/delivery1.png);
  }

  .fast-menu-tabs__li-first-level:nth-of-type(4) {
    background-image: url(/images/design/header-fast-menu-icons/faq1.png);
  }

  .fast-menu-tabs__li-first-level:nth-of-type(5) {
    background-image: url(/images/design/header-fast-menu-icons/contacts1.png);
  }
}

@media (max-width: 500px) {
  .fast-menu-tabs__li-first-level {
    background-size: 30px;
    min-height: 45px;
  }
}

@media (max-width: 380px) {
  .fast-menu-tabs__li-first-level {
    background-size: 25px;
    min-height: 40px;
  }
}