.car-type-chooser-modal-window {
  background-color: #fff;
  padding: 15px;
  min-width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px #000;
}
.car-type-chooser-modal-window__header {
  font-size: 22px;
}
.car-type-chooser-modal-window__type-choose-wrapper {
  display: flex;
  margin-top: 25px;
}
.car-type-chooser-modal-window__checkbox {
  border: 1px solid #ccc;
  margin: 1vw;
  //padding: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 180px;
  overflow: hidden;
  width: 250px;
  position: relative;
  padding: 0;
}
.car-type-chooser-modal-window__checkbox img {
  width: 250px;
  margin-top: -53px;
  object-fit: contain;
  object-position: 10px 35px;
}
//.car-type-chooser-modal-window__car-checkbox img {
//  object-position: 0 15px;
//}
.car-type-chooser-modal-window__checkbox:hover {
  box-shadow: 0 0 5px 1px #000;
  cursor: pointer;
}
.car-type-chooser-modal-window__checkbox-description {
  position: absolute;
  bottom: -15px;
}

@media (max-width: 600px) {
  .car-type-chooser-modal-window__type-choose-wrapper {
    flex-direction: column;
  }
}